
@import "foundation";

.dim-view {
  @include grid-row;

  border-bottom: 1px solid darkgrey;

  .dim-name {
    @include grid-column(1);

    vertical-align: middle;
    //transform: rotate(-90deg);
    //display: flex;
    //justify-content: center;
    //align-items: center;
    border-right: 1px solid lightgrey;
  }

  .dim-charts {
    @include grid-column(11);
  }

}

.slices-view {
  &:before {
    @include grid-row($behavior: nest);
  }

  @include grid-column(12);
}

.metric-histograms {
  @include grid-row($behavior: nest);
  @include grid-layout(6, ".metric-histogram");
}

.chart-title {
  text-align: center;

  margin-bottom: 0.5em;
}

.metric-histogram {
}
