
@import "foundation";

@import "spinner";

.error {
  @include callout-base;
  @include callout-style($alert-color);
}

.focus-points {
  @include grid-column-row;
}

.dim-view {
  //@include grid-row;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-bottom: 1px solid darkgrey;

  .dim-name {
    display: table-cell;
    //display: inline-block;
    min-width: 3em;

    vertical-align: middle;
    transform: rotate(-90deg);
    justify-content: center;
  }

  .dim-charts {
    border-left: 1px solid lightgrey;
    display: table-cell;
    white-space: nowrap;
    overflow: auto;
  }

}

.slices-view {
  min-width: 420px;
  display: inline-block;
}

.metric-histograms {
  display: inline-block;
  /*&:before{*/
    /*display: table;*/
  /*}*/
}

.chart-title {
  text-align: center;

  margin-bottom: 0.5em;
}

.metric-histogram {
  width: 180px;
  display: inline-block;
}
