
@import "foundation";

@import "menu";
@import "spinner";

$chart-border-color: darkgrey;


h3 {
  text-align: center;
}

.error {
  @include callout-base;
  @include callout-style($alert-color);
}

.overview-info {
  @include grid-row($behavior: nest);
}

.focus-points {
  @include grid-column(6);
}

.topological-spine {
  @include grid-column(5);
  @include grid-column-end;

  img {
    width: 100%;
  }
}

.dim-views {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dim-view {

  border-left: 1px solid $chart-border-color;
  border-bottom: 1px solid $chart-border-color;

  .dim-name {
    width: 100%;
    display: block;

    text-align: center;
  }

  .group-views {
    display: table-cell;

    .dim-charts {
      display: block;
    }
  }

  .dim-charts {
    white-space: nowrap;
    overflow: auto;
  }

}

.slices-view {
  display: inline-block;
}

.metric-histograms {
  display: inline-block;
}

.chart-title {
  text-align: center;

  margin-bottom: 0.5em;
}

.metric-histogram {
  width: 180px;
  display: inline-block;
}

svg .highlight {
  pointer-events: none;
}

