
<nav class="breadcrumbs">
  <a href="/index.html">Overview</a>
</nav>

<h1>$name$</h1>

$body$

<p>
  Click on the tabs below to see examples of the different datasets viewed
  with the different techniques.
  The individual images can be clicked for a 
  larger version.
</p>

<div class="examples">
  <div class="labels row">
    $for(techniques)$
    <div style="width: 20%;">
      <h4>$name$</h4>
    </div>
    $endfor$
  </div>

  <div class="datasets row">
    <label for="dataset-selector">Dataset</label>
    <select id="dataset-selector">
      $for(datasets)$
      <option value="#$code$">$name$</option>
      $endfor$
    </select>
    <div class="image-content">
      $for(datasets)$
      <div class="image-pane" id="$code$">
        <ul class="examples">
        $for(imgs)$
          <li class="thumbnail" style="width: 20%;">
            <a href="$pdfUrl$">
              <img class="u-max-full-width" src="$pngUrl$" alt="thumbnail for $code$" />
            </a>
          </li>
        $endfor$
        </ul>
      </div>
      $endfor$
    </div>
  </div>

  <div class="solutions row">
    $for(solutions)$
    <div class="solution-text" style="width: 20%;">
      $body$
    </div>
    $endfor$
  </div>



</div>

