
<nav class="breadcrumbs">
  <a href="/index.html">Overview</a>
</nav>

<div class="task-example row">
  <div class="two columns">&nbsp;</div>

  <div class="eight columns">
    <h2>$task$</h2>
    <h3>$technique$</h3>

    $body$

    <ul class="example-detail">
      <li><b>Number of samples:</b> $numSamples$</li>
      <li><b>Sampling method:</b> $samplingMethod$</li>
      $if(neighborhoodMethod)$
      <li><b>Neighborhood method:</b> $neighborhoodMethod$</li>
      $endif$
      $if(otherParams)$
      <li><b>Other parameters:</b> $otherParams$</li>
      $endif$
    </ul>
  </div>

  <div class="two columns">&nbsp;</div>
</div>

<div class="task-images row">

  <ul class="example-images">
    $for(exImages)$
      <li class="four columns">
        <img class="u-max-full-width" src="$url$" />
        <div class="img-info">
          <h4>$name$ ($dims$D)</h4>
        </div>
      </li>
    $endfor$
  </ul>
</div>


