
<h1>$name$</h1>

$body$

<ul class="tab-nav">
  $for(datasets)$
    <li>
      <a class="button" href="#$code$">$name$ $dims$D</a>
    </li>
  $endfor$
</ul>
<div class="tab-content dataset-examples">
  $for(datasets)$
    <div class="tab-pane" id="$code$">
      <ul class="examples">
      $for(imgs)$
        <li class="thumbnail">
          <a href="$pdfUrl$">
            <img class="u-max-full-width" src="$pngUrl$" alt="thumbnail for $code$" />
            <h4>$name$</h4>
          </a>
        </li>
      $endfor$
      </ul>
    </div>
  $endfor$
</div>

