
<nav class="breadcrumbs">
  <a href="$prevTaskUrl$">$prevTaskName$</a>
  <a href="/index.html">Overview</a>
  <a href="$nextTaskUrl$">$nextTaskName$</a>
</nav>

<h2>$name$</h2>

$body$

<p>
  Click on the tabs below to see examples of the different datasets viewed
  with the different techniques.
  The individual images can be clicked for a 
  larger version.
</p>

<div class="controls">
  <label for="dataset-selector">Dataset</label>
  <select id="dataset-selector">
    $for(datasets)$
    <option value="#$code$">$name$ ($dims$D)</option>
    $endfor$
  </select>
</div>

<div class="technique-examples">
  <div class="labels row">
    $for(techniques)$
    <div class="column" style="width: 20%;">
      <h4><a href="#$code$">$name$</a></h4>
    </div>
    $endfor$
  </div>

  <div class="datasets">
    <div class="image-content">
      $for(datasets)$
      <div class="image-pane row" id="$code$">
        <ul class="examples columns twelve-columns">
        $for(imgs)$
          <li class="thumbnail" style="width: 20%;">
            $if(pdfUrl)$
            <a href="$pdfUrl$">
            $endif$
              <img class="u-max-full-width" src="$pngUrl$" alt="thumbnail for $code$" />
            $if(pdfUrl)$
            </a>
            $endif$
          </li>
        $endfor$
        </ul>
      </div>
      $endfor$
    </div>
  </div>

</div>

<hr />

<h3>Solution descriptions</h3>

<div class="solutions row">
  $for(solutions)$
    <h4>$technique$</h4>
    <a name="$code$" />
    $body$
  $endfor$
</div>

